html, body {
  width: 100px;
}

.block {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
}

.button {
  cursor: pointer;
}

.button:hover {
  background-color: rgb(190, 211, 243);
}

.button {
  background-color: #E5F2F2;
}

.success {
  background-color: rgb(152, 230, 163);
  color:rgb(49, 49, 49);
}

.error {
  background-color: rgb(243, 190, 208);
  color:rgb(49, 49, 49);
}

.hidden {
  display: none;
}
